/* Global styles */
body {
    font-family: "Hanuman", serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #ff0707;
    color: #fff;
    padding: 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #ffd700; /* Change color on hover */
}

.nav a:not(:last-child)::after {
    content: " |";
    color: #fff;
    margin-left: 5px;
}

h1 {
    text-align: center;
}

/* Cart styles */
#cart {
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.cart-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-buttons {
    display: flex;
    align-items: center;
}

#buy {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: red;
    padding: 5px 10px; /* Added padding */
}

.cart-item-buttons button {
    padding: 5px 10px;
    margin-right: 10px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Responsive styles for mobile phones */
@media (max-width: 600px) {
    .cart-item {
        flex-direction: column;
    }

    .cart-item img {
        margin: 0 auto 10px auto;
    }

    .cart-item-buttons {
        justify-content: center;
    }
}
