#pw{
   margin-left : 50px;
   border:none;
}
* , button, div{
    font-family: 'Siemreap';
}
input, textarea{
    color: #1605fd;
}
::selection{
    background-color: #fd0505;
    color: white;
    text-shadow: none;
}
.refund input{
    color: #ce1616e6;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
