/* Style for navigation */
body{
    font-family: "Hanuman", serif;
}
.nav {
    background-color: #ff0707;
    color: #fff;
    padding: 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #ffd700; /* Change color on hover */
}

.nav a:not(:last-child)::after {
    content: " |";
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

/* Style for product images */
.product img {
    max-width: 100px;
}

/* Style for headings */
h1, h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style for paragraphs */
p {
    color: #666;
    font-family: Arial, sans-serif;
}

/* Style for buttons */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
button a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: palevioletred;;
}
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#total{
    border: 1px solid;
}

/* Style for each product */
.product {
    width: calc(25% - 20px); /* 25% width for each product to fit 4 in a row with space between */
    margin-bottom: 20px;
}