/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #ff0707;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}
#btn{
    border-radius: 10px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffd700; /* Change color on hover */
}

.navbar li:not(:last-child)::after {
    content: " |";
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    padding: 20px;
}

pre {
    white-space: pre-wrap;
    padding: 10px;
}
#btn1{
    border: none;
    border-radius: 10px;
}
input[type="submit"], button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    color: red;
    background-color: aquamarine;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#qrCode {
    text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .navbar {
        padding: 5px;
    }
    .navbar ul li {
        display: block;
        margin-bottom: 5px;
    }
    input[type="submit"], button {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    pre {
        padding: 5px;
    }
}