.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000000;
}

.dropdown-item:hover {
    background-color: #f9f9f9;
}